<header>
  <h1>{{pageTitle}}</h1>
  <p><a href="https://mysterious-waters-86999.herokuapp.com/">Home</a></p>
  <p><a href="https://mysterious-waters-86999.herokuapp.com/about">About</a></p>
  <p><a href="https://mysterious-waters-86999.herokuapp.com/projects">Projects</a></p>
  <p><a href="/mind">Mind</a></p>
</header>
