<header>
  <h1>{{pageTitle}}</h1>
<<<<<<< HEAD
  <p><a href="https://mysterious-waters-86999.herokuapp.com/">Home</a></p>
  <p><a href="https://mysterious-waters-86999.herokuapp.com/about">About</a></p>
  <p><a href="https://mysterious-waters-86999.herokuapp.com/projects">Projects</a></p>
=======
  <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
  <p><a href="/projects">Projects</a></p>
>>>>>>> f6aabac68bdaf43cfd9683bdde75cffd110e8fef
  <p><a href="/mind">Mind</a></p>
</header>
