<tables>
  <!DOCTYPE html>
  <html>
  <head>
  <style>
  table, th, td {
      border: 1px solid black;
      padding: 15px;
      font-size: 110%
  }
  table {
      border-spacing: 15px;
  }
  </style>
  </head>
  <body>

  <table style="width:50%">
    <!-- <tr>
      <!th>Firstname</th>
      <!th>Lastname</th>
      <!th>Age</th>
    </tr> -->
<<<<<<< HEAD
      <tr>
        <td>1 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>2 <img src= "./../pictures/Alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
        <td>3 <img src= "./../pictures/Fox.jpeg" alt="Fox" style="width:67px;height:50px;"></td>
        <td>4 <img src= "./../pictures/Alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
        <td>5 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
        <td>6 <img src= "./../pictures/Dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
        <td>7 <img src= "./../pictures/Ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
        <td>8 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
        <td>9 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>10 <img src= "./../pictures/Squirrel.jpeg" alt="Squirrel" style="width:67px;height:50px;"></td>
        <td>11 <img src= "./../pictures/Alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
      </tr>
      <tr>
        <td>12 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
        <td>13 <img src= "./../pictures/Orangutan.jpeg" alt="Orangutan" style="width:67px;height:50px;"></td>
        <td>14 <img src= "./../pictures/Dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
        <td>15 <img src= "./../pictures/Fox.jpeg" alt="Fox" style="width:67px;height:50px;"></td>
        <td>16 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
        <td>17 <img src= "./../pictures/Alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
        <td>18 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>19 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
        <td>20 <img src= "./../pictures/Ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
        <td>21 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
        <td>22 <img src= "./../pictures/Dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
      </tr>
      <tr>
        <td>23 <img src= "./../pictures/Alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
        <td>24 <img src= "./../pictures/Duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
        <td>25 <img src= "./../pictures/Llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
        <td>26 <img src= "./../pictures/Squirrel.jpeg" alt="Squirrel" style="width:67px;height:50px;"></td>
        <td>27 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>28 <img src= "./../pictures/Ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
        <td>29 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
        <td>30 <img src= "./../pictures/Fox.jpeg" alt="Fox" style="width:67px;height:50px;"></td>
        <td>31 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>32 <img src= "./../pictures/Monkey_Squirrel_thing.jpeg" alt="Monkey Squirrel Thing" style="width:67px;height:50px;"></td>
        <td>33 <img src= "./../pictures/Dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
      </tr>
      <tr>
        <td>34 <img src= "./../pictures/Llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
        <td>35 <img src= "./../pictures/Squirrel.jpeg" alt="Squirrel" style="width:67px;height:50px;"></td>
        <td>36 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>37 <img src= "./../pictures/Ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
        <td>38 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
        <td>39 <img src= "./../pictures/Llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
        <td>40 <img src= "./../pictures/Llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
        <td>41 <img src= "./../pictures/Alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
        <td>42 <img src= "./../pictures/Orangutan.jpeg" alt="Orangutan" style="width:67px;height:50px;"></td>
        <td>43 <img src= "./../pictures/Fox.jpeg" alt="Fox" style="width:67px;height:50px;"></td>
        <td>44 <img src= "./../pictures/Squirrel.jpeg" alt="Squirrel" style="width:67px;height:50px;"></td>
      </tr>
      <tr>
        <td>45 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>46 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
        <td>47 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>48 <img src= "./../pictures/Llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
        <td>49 <img src= "./../pictures/Orangutan.jpeg" alt="Orangutan" style="width:67px;height:50px;"></td>
        <td>50 <img src= "./../pictures/Ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
        <td>51 <img src= "./../pictures/Monkey_Squirrel_thing.jpeg" alt="Monkey Squirrel Thing" style="width:67px;height:50px;"></td>
        <td>52 <img src= "./../pictures/Dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
        <td>53 <img src= "./../pictures/Duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
        <td>54 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>55 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
      </tr>
      <tr>
        <td>56 <img src= "./../pictures/Dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
        <td>57 <img src= "./../pictures/Alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
        <td>58 <img src= "./../pictures/Orangutan.jpeg" alt="Orangutan" style="width:67px;height:50px;"></td>
        <td>59 <img src= "./../pictures/Alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
        <td>60 <img src= "./../pictures/Monkey_Squirrel_thing.jpeg" alt="Monkey Squirrel Thing" style="width:67px;height:50px;"></td>
        <td>61 <img src= "./../pictures/Duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
        <td>62 <img src= "./../pictures/Ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
        <td>63 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>64 <img src= "./../pictures/Squirrel.jpeg" alt="Squirrel" style="width:67px;height:50px;"></td>
        <td>65 <img src= "./../pictures/Ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
        <td>66 <img src= "./../pictures/Monkey_Squirrel_thing.jpeg" alt="Monkey Squirrel Thing" style="width:67px;height:50px;"></td>
      </tr>
      <tr>
        <td>67 <img src= "./../pictures/Alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
        <td>68 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
        <td>69 <img src= "./../pictures/Dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
        <td>70 <img src= "./../pictures/Duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
        <td>71 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
        <td>72 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>73 <img src= "./../pictures/Llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
        <td>74 <img src= "./../pictures/Monkey_Squirrel_thing.jpeg" alt="Monkey Squirrel Thing" style="width:67px;height:50px;"></td>
        <td>75 <img src= "./../pictures/Dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
        <td>76 <img src= "./../pictures/Squirrel.jpeg" alt="Squirrel" style="width:67px;height:50px;"></td>
        <td>77 <img src= "./../pictures/Fox.jpeg" alt="Fox" style="width:67px;height:50px;"></td>
      </tr>
      <tr>
        <td>78 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
        <td>79 <img src= "./../pictures/Ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
        <td>80 <img src= "./../pictures/Duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
        <td>81 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>82 <img src= "./../pictures/Alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
        <td>83 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>84 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
        <td>85 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
        <td>86 <img src= "./../pictures/Llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
        <td>87 <img src= "./../pictures/Fox.jpeg" alt="Fox" style="width:67px;height:50px;"></td>
        <td>88 <img src= "./../pictures/Duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
      </tr>
      <tr>
        <td>89 <img src= "./../pictures/Ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
        <td>90 <img src= "./../pictures/Alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
        <td>91 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
        <td>92 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
        <td>93 <img src= "./../pictures/Monkey_Squirrel_thing.jpeg" alt="Monkey Squirrel Thing" style="width:67px;height:50px;"></td>
        <td>94 <img src= "./../pictures/Llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
        <td>95 <img src= "./../pictures/Dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
        <td>96 <img src= "./../pictures/Ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
        <td>97 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
        <td>98 <img src= "./../pictures/Duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
        <td>99 <img src= "./../pictures/Ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
      </tr>
    </table>
=======
    <tr>
      <td>1 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>2 <img src= "./../pictures/alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
      <td>3 <img src= "./../pictures/fox.jpeg" alt="Fox" style="width:67px;height:50px;"></td>
      <td>4 <img src= "./../pictures/alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
      <td>5 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
      <td>6 <img src= "./../pictures/dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
      <td>7 <img src= "./../pictures/ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
      <td>8 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
      <td>9 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>10 <img src= "./../pictures/Squirrel.jpeg" alt="Squirrel" style="width:67px;height:50px;"></td>
      <td>11 <img src= "./../pictures/alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
    </tr>
    <tr>
      <td>12 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
      <td>13 <img src= "./../pictures/Orangutan.jpeg" alt="Orangutan" style="width:67px;height:50px;"></td>
      <td>14 <img src= "./../pictures/dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
      <td>15 <img src= "./../pictures/fox.jpeg" alt="Fox" style="width:67px;height:50px;"></td>
      <td>16 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
      <td>17 <img src= "./../pictures/alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
      <td>18 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>19 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
      <td>20 <img src= "./../pictures/ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
      <td>21 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
      <td>22 <img src= "./../pictures/dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
    </tr>
    <tr>
      <td>23 <img src= "./../pictures/alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
      <td>24 <img src= "./../pictures/duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
      <td>25 <img src= "./../pictures/llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
      <td>26 <img src= "./../pictures/Squirrel.jpeg" alt="Squirrel" style="width:67px;height:50px;"></td>
      <td>27 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>28 <img src= "./../pictures/ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
      <td>29 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
      <td>30 <img src= "./../pictures/fox.jpeg" alt="Fox" style="width:67px;height:50px;"></td>
      <td>31 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>32 <img src= "./../pictures/Monkey_Squirrel_thing.jpeg" alt="Monkey Squirrel Thing" style="width:67px;height:50px;"></td>
      <td>33 <img src= "./../pictures/dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
    </tr>
    <tr>
      <td>34 <img src= "./../pictures/llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
      <td>35 <img src= "./../pictures/Squirrel.jpeg" alt="Squirrel" style="width:67px;height:50px;"></td>
      <td>36 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>37 <img src= "./../pictures/ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
      <td>38 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
      <td>39 <img src= "./../pictures/llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
      <td>40 <img src= "./../pictures/llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
      <td>41 <img src= "./../pictures/alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
      <td>42 <img src= "./../pictures/Orangutan.jpeg" alt="Orangutan" style="width:67px;height:50px;"></td>
      <td>43 <img src= "./../pictures/fox.jpeg" alt="Fox" style="width:67px;height:50px;"></td>
      <td>44 <img src= "./../pictures/Squirrel.jpeg" alt="Squirrel" style="width:67px;height:50px;"></td>
    </tr>
    <tr>
      <td>45 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>46 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
      <td>47 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>48 <img src= "./../pictures/llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
      <td>49 <img src= "./../pictures/Orangutan.jpeg" alt="Orangutan" style="width:67px;height:50px;"></td>
      <td>50 <img src= "./../pictures/ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
      <td>51 <img src= "./../pictures/Monkey_Squirrel_thing.jpeg" alt="Monkey Squirrel Thing" style="width:67px;height:50px;"></td>
      <td>52 <img src= "./../pictures/dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
      <td>53 <img src= "./../pictures/duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
      <td>54 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>55 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
    </tr>
    <tr>
      <td>56 <img src= "./../pictures/dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
      <td>57 <img src= "./../pictures/alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
      <td>58 <img src= "./../pictures/Orangutan.jpeg" alt="Orangutan" style="width:67px;height:50px;"></td>
      <td>59 <img src= "./../pictures/alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
      <td>60 <img src= "./../pictures/Monkey_Squirrel_thing.jpeg" alt="Monkey Squirrel Thing" style="width:67px;height:50px;"></td>
      <td>61 <img src= "./../pictures/duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
      <td>62 <img src= "./../pictures/ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
      <td>63 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>64 <img src= "./../pictures/Squirrel.jpeg" alt="Squirrel" style="width:67px;height:50px;"></td>
      <td>65 <img src= "./../pictures/ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
      <td>66 <img src= "./../pictures/Monkey_Squirrel_thing.jpeg" alt="Monkey Squirrel Thing" style="width:67px;height:50px;"></td>
    </tr>
    <tr>
      <td>67 <img src= "./../pictures/alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
      <td>68 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
      <td>69 <img src= "./../pictures/dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
      <td>70 <img src= "./../pictures/duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
      <td>71 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
      <td>72 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>73 <img src= "./../pictures/llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
      <td>74 <img src= "./../pictures/Monkey_Squirrel_thing.jpeg" alt="Monkey Squirrel Thing" style="width:67px;height:50px;"></td>
      <td>75 <img src= "./../pictures/dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
      <td>76 <img src= "./../pictures/Squirrel.jpeg" alt="Squirrel" style="width:67px;height:50px;"></td>
      <td>77 <img src= "./../pictures/fox.jpeg" alt="Fox" style="width:67px;height:50px;"></td>
    </tr>
    <tr>
      <td>78 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
      <td>79 <img src= "./../pictures/ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
      <td>80 <img src= "./../pictures/duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
      <td>81 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>82 <img src= "./../pictures/alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
      <td>83 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>84 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
      <td>85 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
      <td>86 <img src= "./../pictures/llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
      <td>87 <img src= "./../pictures/fox.jpeg" alt="Fox" style="width:67px;height:50px;"></td>
      <td>88 <img src= "./../pictures/duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
    </tr>
    <tr>
      <td>89 <img src= "./../pictures/ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
      <td>90 <img src= "./../pictures/alpacapillar.jpeg" alt="alpacapillar" style="width:67px;height:50px;"></td>
      <td>91 <img src= "./../pictures/Owl.jpeg" alt="Owl" style="width:67px;height:50px;"></td>
      <td>92 <img src= "./../pictures/Sloth.jpeg" alt="Sloth" style="width:67px;height:50px;"></td>
      <td>93 <img src= "./../pictures/Monkey_Squirrel_thing.jpeg" alt="Monkey Squirrel Thing" style="width:67px;height:50px;"></td>
      <td>94 <img src= "./../pictures/llama.jpeg" alt="Llama" style="width:67px;height:50px;"></td>
      <td>95 <img src= "./../pictures/dog.jpeg" alt="Dog" style="width:67px;height:50px;"></td>
      <td>96 <img src= "./../pictures/ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
      <td>97 <img src= "./../pictures/cat_image.jpeg" alt="Cat" style="width:67px;height:50px;"></td>
      <td>98 <img src= "./../pictures/duck.jpeg" alt="Duck" style="width:67px;height:50px;"></td>
      <td>99 <img src= "./../pictures/ant_eater.jpeg" alt="Ant eater" style="width:67px;height:50px;"></td>
    </tr>
  </table>


>>>>>>> f6aabac68bdaf43cfd9683bdde75cffd110e8fef
  </body>
  </html>
</tables>
