<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>
  <body>
    {{> header}}
      {{> tables}}
      <p>
        <br>1. Think of a two digit integer.
        <br>2. Add the two digits of your number together.
        <br>3. Subtract this some from your original number.
        <br>4. locate your number above and concentrate on the picture...
      </p>
      {{> popup}}
    {{> footer}}
  </body>
</html>
