<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>
  <body>
    {{> header}}
      {{> tables}}
      <p>
        <br>1. Think of a two digit integer.
        <br>2. Add the two digits of your number together.
        <br>3. Subtract this some from your original number.
        <br>4. locate your number above and concentrate on the picture...
      </p>
      {{> popup}}
      <!-- <form action="/action_page.php"> -->
        <!-- First name:<br>
        <input type="text" name="firstname" value="Mickey"><br>
        Last name:<br>
        <input type="text" name="lastname" value="Mouse"><br><br>
        <input type="submit" value="Submit">
      </form> -->
    {{> footer}}
  </body>
</html>
