<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>
  <body>
    {{> header}}
    <p>{{pageText}}</p>
    <p><a href="https://arcane-brushlands-91362.herokuapp.com/">Chat App</a></p>
    {{> footer}}
  </body>
</html>
